.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader{
  display: flex;
  width:60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border:12px solid whitesmoke;
  border-radius: 50%;
  border-top: 12px solid blue;
  animation: spin 2s infinite;
}

@keyframes spin{
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
